:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.boton-custom {
  background-color: #01c7b3d8;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.boton-custom:hover {
  background-color: #009688; 
  color: #fff;
  box-shadow: 0 4px 8px rgba(50, 168, 156, 0.2);
}

.text-custom{
  color: #01c7b3d8;
}

.title-custom{
  color: #0152afd8;
}